---
const skills = [
    {
        icon: "游꿛",
        title: "Frontend",
        description: `Me gusta crear interfaces <strong>visuales, din치micas y agradables</strong> que respondan con fluidez y estilo.`,
        label: "Tecnolog칤as favoritas:",
        items: ["React", "Astro", "CSS", "Tailwind"],
    },
    {
        icon: "游",
        title: "Backend",
        description: `Disfruto montar l칩gica, flujos y APIs que <strong>funcionen bien y no se rompan</strong>. Me gusta cuando todo encaja.`,
        label: "Stack habitual:",
        items: ["Next.js", "Node.js", "Express", "PHP"],
    },
    {
        icon: "游",
        title: "eCommerce & Marketing",
        description: `Trabajo cada d칤a con tiendas online. <strong>Gesti칩n de productos, campa침as, precios y clientes</strong>. Todo afinado.`,
        label: "Herramientas y APIs:",
        items: [
            "PrestaShop",
            "Strapi",
            "Meta & Google APIs",
            "Automatizaci칩n campa침as",
        ],
    },
];
---

<section class="bg-white py-32 px-4 relative">
    <div class="absolute left-1/2 -translate-x-1/2 -top-64 w-full max-w-6xl">
        <div class="grid grid-cols-1 md:grid-cols-3 h-auto gap-6">
            {
                skills.map((block) => (
                    <div class="bg-gray-100 p-8 rounded-2xl shadow-md hover:shadow-lg transition-shadow h-[100%] w-sm flex flex-col items-center text-center justify-start">
                        <div class="text-7xl mb-6">{block.icon}</div>
                        <h3 class="text-3xl font-bold text-gray-800 mb-4">
                            {block.title}
                        </h3>
                        <p
                            class="text-gray-700 text-lg mb-6"
                            set:html={block.description}
                        />
                        <div class="text-center">
                            <p class="font-semibold text-[#6c21c0] text-lg mb-2">
                                {block.label}
                            </p>
                            <ul class="text-gray-800 text-xl space-y-2 font-semibold">
                                {block.items.map((item) => (
                                    <li>{item}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                ))
            }
        </div>
    </div>
</section>
